BOT_TOKEN=12345 # токен телеграм бота
WEBAPP_URL=https://example.com # обязательно https протокол
SMTP_HOST=smtp.yandex.ru # если для уведомлений по почте используете yandex
SMTP_PORT=465 # если для уведомлений по почте используете yandex
IMAP_HOST=imap.yandex.ru # если для уведомлений по почте используете yandex
IMAP_PORT=993 # если для уведомлений по почте используете yandex
SMTP_USER=example@yandex.ru # если для уведомлений по почте используете yandex
SMTP_PASSWORD=example
TG_CHAT_ID=111111111 # идентификатор чата с ботом для уведомлений