<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}

    {% endblock %}
    <title>Kvando Technologies</title>
    <link rel="stylesheet" href="https://telegrambottest.kvando.tech/static/style.css">
    <link rel="icon" href="https://telegrambottest.kvando.tech/static/icon.ico" type="image/x-icon">
</head>
<body>

<header>
    <h1>Добро пожаловать в наш сервис!</h1>
    <p>Лучшие решения для вашего бизнеса</p>
</header>

    {% block content %}

    {% endblock %}

<footer>
    <p>&copy; 2025 Kvando Technologies. Все права защищены. </p>
    <img src="https://telegrambottest.kvando.tech/static/icon.jpg" class="footer-logo" alt="Логотип">
</footer>

<script src="https://telegram.org/js/telegram-web-app.js"></script>
</body>
</html>
